.coverage
.git/
.idea/
.pytest_cache/
.run/
_build/
build/
*.db
*.egg-info/
*.sqlite
**/*.egg-info/
**/__pycache__/
**/Archive/
**/VersionArchive/
desktop.ini
dist/
docs/build/
docs/_build/
docs/source/generated/
htmlcov/
tmp/

